* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-height: 100vh;
    display: grid;
    gap: 20px;
    justify-items: start;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header header" "search-location weather-report" "footer footer";
    font-family: 'roboto', Arial, Helvetica, sans-serif;
}

img {
    width: 40px;
    height: 40px;
}

/* Header */
.site-header {
    width: 100%;
    grid-area: header;
    text-align: center;
    color: darkblue;
    font-size: 56px;
    background-color: rgb(38, 226, 163);
    padding: 40px;
}

/* Search location */
.search-location {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
}

.search-location p {
    font-size: 26px;
}

.currentLocation {
    display: flex;
    gap: 10px;
    align-items: center;
}

.form input {
    width: 400px;
    height: 45px; 
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    font-family: inherit;
}

form {
    display: flex;
    align-items: center;
    gap: 4px;
}

#submitBtn {
    width: 50px;
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    transition: box-shadow 0.3s; /* Smooth transition */
}

#submitBtn:hover, 
#toggleTemp:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Add shadow */
}

/* Weather-report */
.weather-report {
    display: grid;
    align-items: center;
    background-color: aqua;
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px;
    max-width: 100%;
    margin: 30px;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 2fr 1fr 2fr 1fr;
    grid-template-areas: "header header" "icon temp" "precip wind" "nextDays nextDays" "nextDaysItems nextDaysItems";
}

.weather-report h4 {
    font-size: 22px;
    font-weight: bold;
}

.weather-report p {
    font-size: 20px;
}

.weather-report #temp,
.weather-report #tempUnit {
    font-size: 36px;
}

.weather-report img {
    width: 50px;
    height: 50px;
}

.report-header {
    grid-area: header;
    justify-self: start;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.report-header p {
    font-size: 16px;
    font-style: italic;
}

.icon, .temp, .precip, .wind {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#icon {
    width: 160px;
    height: auto;
}

.measurement {
    display: flex;
}

#toggleTemp {
    margin-top: 10px;
    border-style: 1px solid black;
    background-color: aqua;
    display: flex;
    cursor: pointer;
    transition: box-shadow 0.3s; /* Smooth transition */
}

.nextDays {
    grid-area: nextDays;
    display: flex;
    flex-direction: column;
    justify-self: start;
    gap: 20px;
}

.nextDays p {
    padding: 0px 45px;
}

.nextDaysWeather {
    grid-area: nextDaysItems;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tempAndUnit {
    display: flex;
    gap: 2px;
}

/* Footer */
.footer {
    grid-area: footer;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgb(38, 226, 163);
    padding: 20px;
    color: darkblue;
    font-size: 26px;
}

.footer .icons {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    font-size: 16px;
}

.footer a {
    color: darkblue;
}